.footer {
  position: sticky;
  top: 100%;
  overflow: hidden;
  background-color: #080707;
  padding: 20px 10px;
}

h1 {
  font-weight: bold;
  color: bisque;
  font-size: 20px;
}

p {
  color: #ed145b;
  font-size: 12px;
}

a {
  color: bisque;
  text-decoration: none;
  padding: 0px 2px;
  font-size: 15px;
}

a:hover {
  color: #ed145b;
}

i {
  padding: 0px 5px;
}
