<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6">
      <h1>foodCasher</h1>
    </div>

    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">Sobre</a>
      <a routerLink="contact">Contato</a>
    </div>

    <div class="col-lg-2">
      <a href="https://github.com/Magdiel520" target="_blank"><i class="bi-github"></i></a>
      <a href="https://www.linkedin.com/in/magdiel-rotta-almeida-7786b9b1/" target="_blank"><i class="bi-linkedin"></i></a>
      <a href="https://www.facebook.com/magdielrottaalmeida/" target="_blank"><i class="bi-facebook"></i></a>
      <a href="https://www.instagram.com/magid_sefaradi/" target="_blank"><i class="bi-instagram"></i></a>
      <a href="https://wa.me/qr/UE5B2MVQD3JYA1" target="_blank"><i class="bi-whatsapp"></i></a>
      <a href="https://www.youtube.com/channel/UCZrwZb5gB2sV3NMryaxoXkQ" target="_blank"><i class="bi-youtube"></i></a>
    </div>
  </div>
</div>
