<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-lg-6" *ngIf="menuData">
      <a routerLink="../../menu" class="btn btn-sm btn-warning mb-2">Voltar ao Menu</a>

        <img src="{{menuData[0].foodImg}}" width="100%"/>
        <h1>{{menuData[0].foodName}}</h1>
        <p>{{menuData[0].foodDetails}}</p>
        <p>{{menuData[0].foodPrice | currency: 'BRL'}}</p>
      </div>

      <div class="col-lg-6">
        <h1 class="text-center">Seus dados</h1>
        <form action="">
          <input type="text" class="form-control" placeholder="Digite seu nome">
          <input type="number" class="form-control" placeholder="Digite seu telefone"/>
          <textarea class="form-control" placeholder="Digite o local da entrega"></textarea>
          <button class="btn btn-md btn-primary mt-3">Fazer pedido</button>
        </form>
      </div>

    </div>
  </div>
