.foodbox {
  align-items: stretch;
  padding: 10px 5px;
}

.foodbox img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.foodbox h1{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.btn_pedido {
  color: white;
  background-color: #ed145b;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
