.banner {;
  position: top;
  height: 80vh;
  background-position: top;
  background-size: cover;
}

.content{
  height: 80vh;
  position: absolute;
}

.content h1 {
  text-align: left;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.content a {
  float: left;
  text-decoration: none;
  background-color: white;
  color: #ed145b;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.content a:hover {
  background-color: #ed145b;
  color: white;
}

.Box {
  background-color: #080707;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
}

.Box h1 {
  color: #ed145b;
  font-size: 50px;
  font-weight: bold;
}

.Box p {
  color: #ed145b;
  font-size: 20px;
  font-style: italic;
}

.foodbox {
  padding: 10px 5px;

}

.foodbox img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.foodbox h1{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.maisopcoes {
  text-decoration: none;
  background-color: #ed145b;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .banner {
    height: 700px;
  }
}
